<div class="contenedor-formulario">
  <form class="formulario-addproducts" id="formulario">
    <div class="contenedorText">
      <h2>Agregar nuevos productos</h2>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Titulo</label>
      <input
        type="text"
        placeholder="Ingresar el titulo"
        class="form-control"
        id="title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <textarea
        placeholder="Ingresa una descripcion"
        class="form-control"
        id="description"
        name="description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input
        type="number"
        placeholder="Ingresa el precio"
        class="form-control"
        id="price"
        name="price"
      />
    </div>
    <div class="mb-3">
      <label for="code" class="form-label">Codigo del producto</label>
      <input
        type="text"
        placeholder="Ingresa el codigo"
        class="form-control"
        id="code"
        name="code"
      />
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        type="number"
        placeholder="Ingresa el stock"
        class="form-control"
        id="stock"
        name="stock"
      />
    </div>
    <div class="mb-3">
      <label for="photo" class="form-label">Subir archivo</label>
      <input
        type="file"
        class="form-control"
        id="photo"
        name="photo"
        accept="image/*"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Categoria</label>
      <select name="category" id="category" class="form-control">
        <option value="tecnologia">Tecnologia</option>
        <option value="indumentaria">Indumentaria</option>
        <option value="muebles">Muebles</option>
        <option value="comida">Comida</option>
        <option value="juegos">Juegos</option>
      </select>

    </div>

    <button type="submit" class="btn btn-primary px-4">Submit</button>
  </form>
</div>
<div id="respuesta" class="contenedor">

</div>
<script src="/js/form2Script.js"></script>