<div id="container-form-login">
  <form id="formulario">
    <label for="email">Email:</label>
    <input
      type="email"
      name="email"
      id="email"
      class="input-register"
      placeholder="Enter your Email"
    />
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      class="input-register"
      placeholder="Enter your password"
    />
    <input
      type="submit"
      value="Login"
      class="input-register btn-register"
      id="input-submit"
    />
  </form>
  {{! <div class="logueo-exitoso">
    <h2>Registro exitoso</h2>
    <a href="http://localhost:8081/product/products">Ir a home</a>
  </div> }}
</div>

<script src="/js/login.js"></script>

{{! 
<a href="/product/addproductsform" class="link">Agregar Producto</a>
        <a href="/cart/home" class="link">Agregar Carrito</a>
        <a href="/chat" class="link">Sala de chat</a> }}