body {
  background-color: #777;
  box-sizing: border-box;
}

/* navbar */
.contenedor-nav {
  display: flex;
  width: 100%;
  background-color: #157a6e;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  gap: 20px;
}
.container-btn-nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: baseline;
  height: 100%;
}
.nav-btn {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.text-usuario-nav {
  font-size: 1.1rem;
  color: white;
}
.btn-logout {
  color: white;
  background-color: #0056b3;
  text-align: center;
  outline: none;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
}
.btn-logout:hover {
  background-color: #1867bb;
}
.register {
  background-color: #1eb83f;
}

.login {
  background-color: #007bff;
}

.register:hover {
  background-color: #209639;
}
.login:hover {
  background-color: #1867bb;
}
.link {
  text-decoration: none;
  color: white;
}
.contenedorGral {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contenedor-formulario {
  display: flex;
  background-color: rgb(120, 169, 233);

  padding: 0;
}
.formulario-addproducts {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.contForm {
  height: 100vh;
}
.formContainer {
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  font-weight: 600;
}
.contenedorText {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilos para la tarjeta */
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: -1;
}
.txtMensaje {
  color: #1eb83f;
  margin-bottom: 5px;
}
.contenedorCard {
  width: 450px;
  background-color: blue;
  display: flex;
  justify-content: center;
  z-index: -20;
}
.btnClose {
  position: absolute;
  font-size: 30px;
  top: 5px; /* Ajusta la posición del botón para que sobresalga */
  right: 5px; /* Ajusta la posición del botón para que sobresalga */
  z-index: 1; /* Ajusta el z-index para que esté sobre la tarjeta */
  background-color: rgba(0, 0, 0, 0.623);
  border: none;
  color: red;
  transition: 0.05s;
}
.btnClose:hover {
  transform: scale(105%);
}
.card {
  position: relative;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

/* Estilos para el contenido de la tarjeta */
.card-body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.card-img-top {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* CONTENEDOR PARA TODOS LOS PRUDCTOS */

.contenedorAllProducts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  gap: 15px;
}
.cardAllProducts {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.imgAProducts {
  width: 100%;
  height: 200px;
}

.containerDetail {
  width: 100%;
  margin-top: 20px;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
}

/* CHAT */

.chat-window {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chat-messages {
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chat-input button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #45a049;
}

/* Estilos para el mensaje enviado por el usuario */
.message {
  bottom: 1px;
  position: relative;
}
.message.sent {
  text-align: right;
  background-color: #dcf8c6;
  margin-left: auto;
}
.sent p {
  margin-right: 10px;
}
.sent .hora {
  position: absolute;
  color: green;
  left: 5px;
  font-size: 0.8rem;
}

/* Estilos para el mensaje recibido */
.message.received {
  text-align: left;
  background-color: #f0f0f0;
  margin-right: auto;
}

.received .hora {
  position: absolute;
  font-size: 0.8rem;
  right: 5px;
  color: #4caf50;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.btnChat {
  width: 150px;
}

.connect {
  margin-bottom: 14px;
  text-align: center;
  font-size: 0.9rem;
  color: #7e7979;
}

.ulPaginate {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  text-align: center;
}
.liContainer {
  list-style-type: none;
  min-width: 33%;
}
.paginateLink {
  text-decoration: none;
}

.txtPaginate {
  font-size: 0.8rem;
}

.msgError {
  color: rgba(240, 39, 39, 0.767);
}

.contenedorProductosFooter {
  display: flex;
  /* background-color: rebeccapurple; */
  justify-content: center;
  margin-top: 50px;
  /* position: fixed; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.products-container {
  display: flex; /* Establece el contenedor como un contenedor flex */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas cuando no hay suficiente espacio */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 70px;

  min-height: 520px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
  display: block;
}
.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  margin-bottom: 10px;
}

.card-price {
  font-weight: bold;
}
.add-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #be2b64;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-to-cart-btn:hover {
  background-color: #c43a6f;
}

.cart-container {
  margin-top: 20px;
  text-align: center;
}

.view-cart-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.view-cart-btn:hover {
  background-color: #0056b3;
}

.register-message {
  margin: auto;
  width: 400px;
  height: 150px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 15px;
  background-color: rgb(247, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.register-texto {
  font-size: 1rem;
  margin-top: 10px;
}

.registerOn {
  color: #13c71965;
}

.emailOn {
  color: #be2b63a8;
}

.btn-login {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

.register-message button {
  width: 100px; /* display: block; */
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  background-color: #867feb;
  border-radius: 4px;
}

#formulario {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.label-register {
  display: block;
  margin-bottom: 5px;
}

.input-register {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: #a7a5a552;
  transition: all 0.5s;
}
.input-register:focus {
  background-color: transparent;
}

.btn-register {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #45a049;
}

.formulario-register {
  position: relative;
  margin: auto;
}

.error-register-div {
  background-color: rgba(0, 0, 0, 0.479);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.error-register {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 250px;
  margin: auto;
  height: 150px;
  background-color: rgb(247, 243, 243);
  border: 1px solid #272525;
}
.error-register h2 {
  font-size: 1rem;
  padding-left: 5px;
  padding-right: 5px;
}

.fieldReq {
  color: rgba(243, 7, 7, 0.733);
}

.logueo-fail {
  width: 100%;
  color: #d11111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-form-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logueo-fail h2 {
  background-color: #be2b6348;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  border: 1px solid rgb(238, 35, 35);
  font-size: 1rem;
}

.logueo-exitoso {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(12, 255, 3);
  background-color: #3de26173;
  width: 300px;
  height: 150px;
  /* background-color: green; */
  text-align: center;
}

.logueo-exitoso h2 {
  color: white;
  -webkit-text-stroke: 1px black;
}

.logueo-exitoso a {
  text-decoration: none;
  border: 1px solid black;
  background-color: #209639;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

.logueo-exitoso a:hover {
  background-color: #136625;
}
